
<div class="results_container">
<!-- container for everything -->
<!-- add front of card here -->
<!-- this is back of card that populates on search -->
  <div id="results_list">


    <% @results.each do |result| %>
    <div class="divider"></div>
      <div class="hoverable card-stacked">
            <div class="valign-wrapper">
              <img class="valign place_icon" src=#{ photoURL }>
              <h6 class="title place-title valign"><%=result.name%></h6>
            </div>
            <div class="card-content valign-wrapper">
              <p class="place-info">
                 <%=result.vicinity%> <br>
                 Phone: <%=result.formatted_phone_number%>
                 Rating: <%=result.rating%>
                 Price: <%=result.price_level%>
              </p>
              <a class="valign favorite-button btn-floating waves-effect waves-light red darken-3"><i class="tiny material-icons">star</i></a>
            </div>
      </div>
    <% end %>


  </div>
</div>
