<div class="results_container">
  <div id="results_list">
    <div id="backbutton">
      <button class="valign btn-floating waves-effect waves-light red darken-3 back-button" id="backButton"><i class="tiny material-icons">replay</i></button>
    </div>
  <h4 id="results">Results</h4>
    <% if @places.length <= 0 %>
      <div class="hoverable card-stacked result_item" style="height:100%;" lat="" lng="">
        <div class="valign-wrapper" style="height:100%;" >
          <p class="valign black-text" style ="text-align:center; width:100%">No results found!</p>
        </div>
      </div>
    <% end %>

    <% @places.each do |place| %>
    <div class="divider"></div>
      <div class="hoverable card-stacked result_item" lat="<%=place.lat%>" lng="<%=place.lng%>" mkid="<%=@places.index(place)%>">
            <div class="valign-wrapper">
              <img class="valign place_icon" src=<%= get_photo(place.photos) %>>
              <h6 class="title place-title valign">
                <a class ="result-title-link" href="<%=place.website%>" target="_blank"><%=place.name%></a>
              </h6>
            </div>

            <div class="card-content valign-wrapper">
              <p class="place-info">
                 <%=place.vicinity%> <br>
                 Phone: <%=place.formatted_phone_number%>
                 Rating: <%=place.rating%>
                 Price: <%=place.price_level%><br>
                  
              </p>

              <button pid = <%=place.place_id%> class="save_button valign favorite-button btn-floating waves-effect waves-light red darken-3" onclick="Materialize.toast('Saved!', 2000)"><i class="tiny material-icons">star</i></button>

              <button class="valign favorite-button btn-floating waves-effect waves-light red darken-3 my_clip_button" data-clipboard-text="<%=get_link(place)%>" onclick="Materialize.toast('Link Copied!', 2000)" id="d_clip_button" title="Copy to Clipboard">
                <i class="tiny material-icons">save</i>
              </button>

            </div>

            <div class="time-drop">
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">Time</div>
                    <div class="collapsible-body">
                      <% get_weekday_text(place).each do |hour|%>
                        <div class="place-info hour-text"><%=hour%></div>
                      <%end%>
                    </div>
                  </li>
                </ul>
            </div>

      </div>
    <% end %>


  </div>
</div>
