
<div class="results_container">
  <div id="results_list">
  <h3>Results</h3>
   <a class="valign btn-floating waves-effect waves-light red darken-3 back-button" id="backButton">back</a>
    <% if @places.length <= 0 %>
      <div class="hoverable card-stacked result_item" style="height:100%;" lat="" lng="">
        <div class="valign-wrapper" style="height:100%;" >
          <p class="valign black-text" style ="text-align:center; width:100%">No results found!</p>
        </div>
      </div>
    <% end %>

    <% @places.each do |place| %>
    <div class="divider"></div>
      <div class="hoverable card-stacked result_item" lat="<%=place.lat%>" lng="<%=place.lng%>">
            <div class="valign-wrapper">
              <img class="valign place_icon" src=<%= get_photo(place.photos) %>>
              <h6 class="title place-title valign">
                <a class ="result-title-link" href="<%=place.website%>" target="_blank"><%=place.name%></a>
              </h6>
            </div>
            <div class="card-content valign-wrapper">
              <p class="place-info">
                 <%=place.vicinity%> <br>
                 Phone: <%=place.formatted_phone_number%>
                 Rating: <%=place.rating%>
                 Price: <%=place.price_level%>
                Hours

              </p>
              <a class="valign favorite-button btn-floating waves-effect waves-light red darken-3"><i class="tiny material-icons">star</i></a>
              <button class="valign favorite-button btn-floating waves-effect waves-light red darken-3 my_clip_button" data-clipboard-text="<%=get_link(place)%>" id="d_clip_button" title="Copy to Clipboard"><i class="tiny material-icons">call_made</i></button>

            </div>
      </div>
    <% end %>


  </div>
</div>
